@model CarModel

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: @Model.Color;
        }
    </style>
    <title>Query Parameters Example</title>
</head>
<body>
    <h1>Query Parameters Example</h1>
    <p>Name: @Model.Model</p>
    <p>Age: @Model.Year</p>
</body>
</html>